.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 10px;

}

.leave-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  padding: 0 2px;
  width: 100px;
  position: relative;
}


.leave-style-name::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #f1f;
  left: 10px;
}